# Ignore node_modules (dependencies are installed inside the container)
node_modules

# Ignore build artifacts (to ensure a fresh build)
dist

# Ignore local dev files
.vite
.svelte-kit
*.log
.DS_Store

# Ignore version control files
.git
.gitignore
