JWT_SECRET_KEY="dev_key" #The secret key used to create and validate the token. If not specified, the default key (dev_key) is used.
FRONTEND_URL=http://localhost:4173,http://localhost:5173 # URLs (splitted by ',') that are allowed to access the server (allowed origins). If FRONTEND_URL is completely removed, all URLs are allowed (*).